<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">
<!-- Battery optimization & system resilience permissions -->
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<!-- Android 11+ (API 30+) Package Visibility Queries -->
<!-- Essential to query installed launcher targets and alternative clients -->
<queries>
<!-- Generic intent matching all web/launcher destinations -->
<intent>
<action android:name="android.intent.action.VIEW" />
<category android:name="android.intent.category.BROWSABLE" />
<data android:scheme="https" />
</intent>
<intent>
<action android:name="android.intent.action.MAIN" />
<category android:name="android.intent.category.LAUNCHER" />
</intent>
<!-- Explicit popular routing apps and custom clients -->
<package android:name="com.google.android.youtube" />
<package android:name="org.schabi.newpipe" />
<package android:name="app.revanced.android.youtube" />
<package android:name="com.brave.browser" />
<package android:name="com.android.chrome" />
<package android:name="org.mozilla.firefox" />
</queries>
<application
android:allowBackup="true"
android:dataExtractionRules="@xml/data_extraction_rules"
android:fullBackupContent="@xml/backup_rules"
android:icon="@mipmap/ic_launcher"
android:label="@string/app_name"
android:roundIcon="@mipmap/ic_launcher_round"
android:supportsRtl="true"
android:theme="@style/Theme.FluidGlassLauncher"
tools:targetApi="35">
<!-- Main Configuration Activity -->
<activity
android:name=".MainActivity"
android:exported="true"
android:label="@string/app_name"
android:launchMode="singleTop"
android:theme="@style/Theme.FluidGlassLauncher">
<intent-filter>
<action android:name="android.intent.action.MAIN" />
<category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
<!-- Receiver for handling Pin Widget result callbacks -->
<receiver
android:name=".widget.WidgetPinCallbackReceiver"
android:exported="false" />
<!-- Jetpack Glance AppWidget Provider & Lifecycle Receiver -->
<receiver
android:name=".widget.FluidGlassWidgetReceiver"
android:exported="true"
android:label="@string/widget_display_name">
<intent-filter>
<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
<action android:name="android.intent.action.BOOT_COMPLETED" />
<action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
</intent-filter>
<meta-data
android:name="android.appwidget.provider"
android:resource="@xml/custom_widget_info" />
</receiver>
</application>
</manifest>